<div class="footer p-4 bg-black text-white">
	<div class="container">
		<div class="p d-flex">
			<h5>Thank you for visiting----</h5>
		</div>
		<h6 class="text-center my-4">© frames for you 2025. All rights reserved. </h6>
	</div>
</div>
<script>
	var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>