<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="container">
	<div class="navpart">
  <nav class="navbar navbar-expand-lg bg-black text-white ">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/static/img/logo2.png" width="20%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %} active {% endif %} text-white " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  {% if request.path == '/cartdisplay/' %} active {% endif %} text-white" aria-current="page" href="/cartdisplay"><span>{{request.session.cart|length}}</span> cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  {% if request.path == '/login/' %} active {% endif %} text-white" aria-current="page" href="/account">
            {% if request.session.customer %}
            <img width="20px" src="/static/img/p.png" alt="..img">
            {% else %}
            <a href='/login' class="bttn mx-3">Login</a> 
            {% endif %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>